html {
    background-color: rgb(248, 246, 246);
}

img {
    max-width: 100%;
}

main {
    margin: 0 auto;
}


/*--------- Header -------------*/

header,
article,
.overskrift {
    font-family: "Courier New bold",
    "Lucida Sans Typewriter",
    "Lucida Typewriter",
    monospace;
}

h1 {
    font-family: "Courier New bold",
    "Lucida Sans Typewriter",
    "Lucida Typewriter",
    monospace;
    text-transform: capitalize;
    padding: 3vw;
}

header {
    display: grid;
    grid-template-columns: 10% 80%;
    grid-column-gap: 5vw;
    background-color: white;
    list-style-type: none;
    padding: 0vw 2vw 0vw 4vw;
}

/*--------- Logo -------------*/

.logo_1 img {
    grid-column: 2;
    grid-row: 2;
    /*    z-index: 10;*/
}

.logo_1 {
    background-color: white;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 80vw 1fr;
    grid-template-rows: 1fr auto 1fr;
}


/*--------- burger menu -------------*/

.menubutton {
    width: 2em;
    height: 1.6em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
    position: relative;
    transform: translate(2vw, 0vw);
    background-color: rgba(255, 255, 255, 0.81);
    width: 45px;
    height: 26px;
    padding: 2vw;
}

.burgermenu {
    transform: translate(0vw, 8vw);
}

nav {
    background-color: rgba(255, 255, 255, 0.81);
    position: relative;
    transform-origin: top;
    transition: transform .5s;
    transform: translateY(1);
    display: block;
    display: block;
    width: 100%;
}


.burger a {

    text-decoration: none;
    letter-spacing: 0.8px;
    font-size: 22px;
    line-height: 10vw;
    text-transform: uppercase;
    color: black;
}

a:hover {
    color: rgb(149, 76, 61);
}

.bar {
    width: 2.8em;
    height: 0.19em;
    background-color: rgb(149, 76, 61);
    transition: transform .4s;
}

.kryds .bar1 {
    transform: rotate(45deg) translate(2px, 5px);
}

.kryds .bar2 {
    opacity: 0;
}

.kryds .bar3 {
    transform: rotate(-45deg) translate(6px, -10px);
}


.hidden {
    transform: translateY(-600px);
}

li {
    list-style: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/*-------- filtrerings knapper -------------*/

.filtrering button {
    font-family: "Courier New bold",
    "Lucida Sans Typewriter",
    "Lucida Typewriter",
    monospace;
    font-size: 22px;
    line-height: 3vw;
    background-color: white;
    border: none;
    text-decoration: none;
    padding-bottom: 3vw;
}

button:hover {
    color: rgb(149, 76, 61);
    text-decoration-line: overline;
}

button:focus {
    color: rgb(149, 76, 61);
    text-decoration-line: overline;
}

#filter {
    background-color: white;
    margin: 1vw 0vw 1vw 0vw;
}

.filtrering {
    text-align: center;
    margin-bottom: 6vw;
    word-spacing: 2vw;
}




/*--------- Template -------------*/

article {
    background-color: white;
    width: 100%;

}

article img {
    width: 100%;
}

.ret-template,
p,
h2 {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vw;
}



/*------------ Forside -------------*/

.collage_2 img {
    max-width: 100%;
}

.overskrift {
    text-align: center;
    padding: 1vw 0 1vw 0;
}

@media screen and (max-width:627px) {

    .collage_2 {
        display: none;
    }
}


@media screen and (min-width:628px) {

    .collage_1 {
        display: none;
    }
}


/*------------ Kontakt -------------*/

.kontakt {
    font-family: "Courier New",
    "Lucida Sans Typewriter",
    "Lucida Typewriter",
    monospace;
    font-size: 17px;
    text-align: center;
    background-color: white;
    margin: 0.5vw 2vw 5.5vw 2vw;
    padding: 2vw 2vw 4vw 2vw;
}


.kontakt a {
    color: black;
    font-size: 1.8em;
}

.kontakt a:hover {
    color: rgb(149, 76, 61);
}


hr {
    border: 0;
    height: 0.9px;
    width: 50%;
    background-color: rgb(149, 76, 61);
}




/**--------- modal vindue -----------------**/

#modal {
    height: 101vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.87);
    opacity: 0;
    pointer-events: none;
    transition: 1s;
    overflow: scroll;
}

#modal-content {
    margin-top: 3vw;
    font-family: "Courier New",
    "Lucida Sans Typewriter",
    "Lucida Typewriter",
    monospace;
    color: white;
}


#modal button {
    font-family: "Courier New Bold",
    "Lucida Sans Typewriter",
    "Lucida Typewriter",
    monospace;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    text-decoration: none;
    margin-top: 3vw;
    margin-bottom: 7vw;
}

#modal button:hover {
    color: rgb(226, 185, 119);
    text-decoration-line: overline;
}

#modal.vis {
    width: 100%;
    opacity: 1;
    pointer-events: all;
    transition: 0.3s;
    z-index: 50;
}


/*------------ footer -------------*/

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    font-family: "Courier New",
    "Lucida Sans Typewriter",
    "Lucida Typewriter",
    monospace;
    font-size: 12px;
    /*    color: rgb(111, 142, 90);*/
    color: darkgray;
    background-color: white;
}

footer a {
    color: darkgray;
}

footer a:hover {
    color: rgb(149, 76, 61);
}


/*----------------- Media Q -------------------*/

/*-----Header-------*/

@media screen and (min-width:629px) {
    header img {
        max-width: 80%;
    }
}

@media screen and (min-width:1000px) {
    header img {
        max-width: 80%;
    }
}

/*-----Burger menu-------*/

@media screen and (min-width:800px) {
    .burger a {
        line-height: 5vw;
        font-size: 28px;
    }

    .menubutton {

        transform: translate(2vw, -1vw);
    }
    .burgermenu {
        transform: translate(0vw, 4vw);
    }

}



/*---Section - menu retter-------*/

@media screen and (min-width:900px) {
    .ret-display {
        padding: 0vw 10vw 10vw 10vw;
    }
}

@media screen and (min-width:628px) {
    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-gap: 30px;

        margin: 0vw 0vw 0vw 0vw;
    }
}

@media screen and (min-width:1400px) {
    section {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*---filtrerings knapper-------*/

@media screen and (min-width:1400px) {
    .filtrering button {
        font-size: 38px;
        word-spacing: 2vw;
    }
    h1 {
        font-size: 58px;
        padding: 0;
    }
}


/*-------Modal vindue---------*/

@media screen and (min-width:600px) {
    .modal-billede {
        max-width: 600px;
    }

}

/*--------Footer-------*/

@media screen and (min-width:800px) {
    footer {
        font-size: 14px;
    }
}
